.robotgrid {
  position: relative;
  width: 590px;
  height: 590px; }
  .robotgrid .grid-container {
    position: absolute;
    z-index: 1;
    margin: 0 auto; }
    .robotgrid .grid-container .grid-cell {
      width: 30px;
      height: 30px;
      margin-bottom: 1px;
      margin-right: 1px;
      float: left;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      background: rgba(137, 117, 63, 0.35); }
    .robotgrid .grid-container .impassible {
      background: rgba(52, 33, 2, 0.62); }
  .robotgrid .tile-container {
    position: absolute;
    z-index: 2; }
    .robotgrid .tile-container .tile {
      width: 30px;
      height: 30px;
      position: absolute; }
      .robotgrid .tile-container .tile.position-0-0 {
        -webkit-transform: translate(0px, 0px);
        transform: translate(0px, 0px); }
      .robotgrid .tile-container .tile.position-0-1 {
        -webkit-transform: translate(0px, 31px);
        transform: translate(0px, 31px); }
      .robotgrid .tile-container .tile.position-0-2 {
        -webkit-transform: translate(0px, 62px);
        transform: translate(0px, 62px); }
      .robotgrid .tile-container .tile.position-0-3 {
        -webkit-transform: translate(0px, 93px);
        transform: translate(0px, 93px); }
      .robotgrid .tile-container .tile.position-0-4 {
        -webkit-transform: translate(0px, 124px);
        transform: translate(0px, 124px); }
      .robotgrid .tile-container .tile.position-0-5 {
        -webkit-transform: translate(0px, 155px);
        transform: translate(0px, 155px); }
      .robotgrid .tile-container .tile.position-0-6 {
        -webkit-transform: translate(0px, 186px);
        transform: translate(0px, 186px); }
      .robotgrid .tile-container .tile.position-0-7 {
        -webkit-transform: translate(0px, 217px);
        transform: translate(0px, 217px); }
      .robotgrid .tile-container .tile.position-0-8 {
        -webkit-transform: translate(0px, 248px);
        transform: translate(0px, 248px); }
      .robotgrid .tile-container .tile.position-0-9 {
        -webkit-transform: translate(0px, 279px);
        transform: translate(0px, 279px); }
      .robotgrid .tile-container .tile.position-0-10 {
        -webkit-transform: translate(0px, 310px);
        transform: translate(0px, 310px); }
      .robotgrid .tile-container .tile.position-0-11 {
        -webkit-transform: translate(0px, 341px);
        transform: translate(0px, 341px); }
      .robotgrid .tile-container .tile.position-0-12 {
        -webkit-transform: translate(0px, 372px);
        transform: translate(0px, 372px); }
      .robotgrid .tile-container .tile.position-0-13 {
        -webkit-transform: translate(0px, 403px);
        transform: translate(0px, 403px); }
      .robotgrid .tile-container .tile.position-0-14 {
        -webkit-transform: translate(0px, 434px);
        transform: translate(0px, 434px); }
      .robotgrid .tile-container .tile.position-0-15 {
        -webkit-transform: translate(0px, 465px);
        transform: translate(0px, 465px); }
      .robotgrid .tile-container .tile.position-0-16 {
        -webkit-transform: translate(0px, 496px);
        transform: translate(0px, 496px); }
      .robotgrid .tile-container .tile.position-0-17 {
        -webkit-transform: translate(0px, 527px);
        transform: translate(0px, 527px); }
      .robotgrid .tile-container .tile.position-0-18 {
        -webkit-transform: translate(0px, 558px);
        transform: translate(0px, 558px); }
      .robotgrid .tile-container .tile.position-1-0 {
        -webkit-transform: translate(31px, 0px);
        transform: translate(31px, 0px); }
      .robotgrid .tile-container .tile.position-1-1 {
        -webkit-transform: translate(31px, 31px);
        transform: translate(31px, 31px); }
      .robotgrid .tile-container .tile.position-1-2 {
        -webkit-transform: translate(31px, 62px);
        transform: translate(31px, 62px); }
      .robotgrid .tile-container .tile.position-1-3 {
        -webkit-transform: translate(31px, 93px);
        transform: translate(31px, 93px); }
      .robotgrid .tile-container .tile.position-1-4 {
        -webkit-transform: translate(31px, 124px);
        transform: translate(31px, 124px); }
      .robotgrid .tile-container .tile.position-1-5 {
        -webkit-transform: translate(31px, 155px);
        transform: translate(31px, 155px); }
      .robotgrid .tile-container .tile.position-1-6 {
        -webkit-transform: translate(31px, 186px);
        transform: translate(31px, 186px); }
      .robotgrid .tile-container .tile.position-1-7 {
        -webkit-transform: translate(31px, 217px);
        transform: translate(31px, 217px); }
      .robotgrid .tile-container .tile.position-1-8 {
        -webkit-transform: translate(31px, 248px);
        transform: translate(31px, 248px); }
      .robotgrid .tile-container .tile.position-1-9 {
        -webkit-transform: translate(31px, 279px);
        transform: translate(31px, 279px); }
      .robotgrid .tile-container .tile.position-1-10 {
        -webkit-transform: translate(31px, 310px);
        transform: translate(31px, 310px); }
      .robotgrid .tile-container .tile.position-1-11 {
        -webkit-transform: translate(31px, 341px);
        transform: translate(31px, 341px); }
      .robotgrid .tile-container .tile.position-1-12 {
        -webkit-transform: translate(31px, 372px);
        transform: translate(31px, 372px); }
      .robotgrid .tile-container .tile.position-1-13 {
        -webkit-transform: translate(31px, 403px);
        transform: translate(31px, 403px); }
      .robotgrid .tile-container .tile.position-1-14 {
        -webkit-transform: translate(31px, 434px);
        transform: translate(31px, 434px); }
      .robotgrid .tile-container .tile.position-1-15 {
        -webkit-transform: translate(31px, 465px);
        transform: translate(31px, 465px); }
      .robotgrid .tile-container .tile.position-1-16 {
        -webkit-transform: translate(31px, 496px);
        transform: translate(31px, 496px); }
      .robotgrid .tile-container .tile.position-1-17 {
        -webkit-transform: translate(31px, 527px);
        transform: translate(31px, 527px); }
      .robotgrid .tile-container .tile.position-1-18 {
        -webkit-transform: translate(31px, 558px);
        transform: translate(31px, 558px); }
      .robotgrid .tile-container .tile.position-2-0 {
        -webkit-transform: translate(62px, 0px);
        transform: translate(62px, 0px); }
      .robotgrid .tile-container .tile.position-2-1 {
        -webkit-transform: translate(62px, 31px);
        transform: translate(62px, 31px); }
      .robotgrid .tile-container .tile.position-2-2 {
        -webkit-transform: translate(62px, 62px);
        transform: translate(62px, 62px); }
      .robotgrid .tile-container .tile.position-2-3 {
        -webkit-transform: translate(62px, 93px);
        transform: translate(62px, 93px); }
      .robotgrid .tile-container .tile.position-2-4 {
        -webkit-transform: translate(62px, 124px);
        transform: translate(62px, 124px); }
      .robotgrid .tile-container .tile.position-2-5 {
        -webkit-transform: translate(62px, 155px);
        transform: translate(62px, 155px); }
      .robotgrid .tile-container .tile.position-2-6 {
        -webkit-transform: translate(62px, 186px);
        transform: translate(62px, 186px); }
      .robotgrid .tile-container .tile.position-2-7 {
        -webkit-transform: translate(62px, 217px);
        transform: translate(62px, 217px); }
      .robotgrid .tile-container .tile.position-2-8 {
        -webkit-transform: translate(62px, 248px);
        transform: translate(62px, 248px); }
      .robotgrid .tile-container .tile.position-2-9 {
        -webkit-transform: translate(62px, 279px);
        transform: translate(62px, 279px); }
      .robotgrid .tile-container .tile.position-2-10 {
        -webkit-transform: translate(62px, 310px);
        transform: translate(62px, 310px); }
      .robotgrid .tile-container .tile.position-2-11 {
        -webkit-transform: translate(62px, 341px);
        transform: translate(62px, 341px); }
      .robotgrid .tile-container .tile.position-2-12 {
        -webkit-transform: translate(62px, 372px);
        transform: translate(62px, 372px); }
      .robotgrid .tile-container .tile.position-2-13 {
        -webkit-transform: translate(62px, 403px);
        transform: translate(62px, 403px); }
      .robotgrid .tile-container .tile.position-2-14 {
        -webkit-transform: translate(62px, 434px);
        transform: translate(62px, 434px); }
      .robotgrid .tile-container .tile.position-2-15 {
        -webkit-transform: translate(62px, 465px);
        transform: translate(62px, 465px); }
      .robotgrid .tile-container .tile.position-2-16 {
        -webkit-transform: translate(62px, 496px);
        transform: translate(62px, 496px); }
      .robotgrid .tile-container .tile.position-2-17 {
        -webkit-transform: translate(62px, 527px);
        transform: translate(62px, 527px); }
      .robotgrid .tile-container .tile.position-2-18 {
        -webkit-transform: translate(62px, 558px);
        transform: translate(62px, 558px); }
      .robotgrid .tile-container .tile.position-3-0 {
        -webkit-transform: translate(93px, 0px);
        transform: translate(93px, 0px); }
      .robotgrid .tile-container .tile.position-3-1 {
        -webkit-transform: translate(93px, 31px);
        transform: translate(93px, 31px); }
      .robotgrid .tile-container .tile.position-3-2 {
        -webkit-transform: translate(93px, 62px);
        transform: translate(93px, 62px); }
      .robotgrid .tile-container .tile.position-3-3 {
        -webkit-transform: translate(93px, 93px);
        transform: translate(93px, 93px); }
      .robotgrid .tile-container .tile.position-3-4 {
        -webkit-transform: translate(93px, 124px);
        transform: translate(93px, 124px); }
      .robotgrid .tile-container .tile.position-3-5 {
        -webkit-transform: translate(93px, 155px);
        transform: translate(93px, 155px); }
      .robotgrid .tile-container .tile.position-3-6 {
        -webkit-transform: translate(93px, 186px);
        transform: translate(93px, 186px); }
      .robotgrid .tile-container .tile.position-3-7 {
        -webkit-transform: translate(93px, 217px);
        transform: translate(93px, 217px); }
      .robotgrid .tile-container .tile.position-3-8 {
        -webkit-transform: translate(93px, 248px);
        transform: translate(93px, 248px); }
      .robotgrid .tile-container .tile.position-3-9 {
        -webkit-transform: translate(93px, 279px);
        transform: translate(93px, 279px); }
      .robotgrid .tile-container .tile.position-3-10 {
        -webkit-transform: translate(93px, 310px);
        transform: translate(93px, 310px); }
      .robotgrid .tile-container .tile.position-3-11 {
        -webkit-transform: translate(93px, 341px);
        transform: translate(93px, 341px); }
      .robotgrid .tile-container .tile.position-3-12 {
        -webkit-transform: translate(93px, 372px);
        transform: translate(93px, 372px); }
      .robotgrid .tile-container .tile.position-3-13 {
        -webkit-transform: translate(93px, 403px);
        transform: translate(93px, 403px); }
      .robotgrid .tile-container .tile.position-3-14 {
        -webkit-transform: translate(93px, 434px);
        transform: translate(93px, 434px); }
      .robotgrid .tile-container .tile.position-3-15 {
        -webkit-transform: translate(93px, 465px);
        transform: translate(93px, 465px); }
      .robotgrid .tile-container .tile.position-3-16 {
        -webkit-transform: translate(93px, 496px);
        transform: translate(93px, 496px); }
      .robotgrid .tile-container .tile.position-3-17 {
        -webkit-transform: translate(93px, 527px);
        transform: translate(93px, 527px); }
      .robotgrid .tile-container .tile.position-3-18 {
        -webkit-transform: translate(93px, 558px);
        transform: translate(93px, 558px); }
      .robotgrid .tile-container .tile.position-4-0 {
        -webkit-transform: translate(124px, 0px);
        transform: translate(124px, 0px); }
      .robotgrid .tile-container .tile.position-4-1 {
        -webkit-transform: translate(124px, 31px);
        transform: translate(124px, 31px); }
      .robotgrid .tile-container .tile.position-4-2 {
        -webkit-transform: translate(124px, 62px);
        transform: translate(124px, 62px); }
      .robotgrid .tile-container .tile.position-4-3 {
        -webkit-transform: translate(124px, 93px);
        transform: translate(124px, 93px); }
      .robotgrid .tile-container .tile.position-4-4 {
        -webkit-transform: translate(124px, 124px);
        transform: translate(124px, 124px); }
      .robotgrid .tile-container .tile.position-4-5 {
        -webkit-transform: translate(124px, 155px);
        transform: translate(124px, 155px); }
      .robotgrid .tile-container .tile.position-4-6 {
        -webkit-transform: translate(124px, 186px);
        transform: translate(124px, 186px); }
      .robotgrid .tile-container .tile.position-4-7 {
        -webkit-transform: translate(124px, 217px);
        transform: translate(124px, 217px); }
      .robotgrid .tile-container .tile.position-4-8 {
        -webkit-transform: translate(124px, 248px);
        transform: translate(124px, 248px); }
      .robotgrid .tile-container .tile.position-4-9 {
        -webkit-transform: translate(124px, 279px);
        transform: translate(124px, 279px); }
      .robotgrid .tile-container .tile.position-4-10 {
        -webkit-transform: translate(124px, 310px);
        transform: translate(124px, 310px); }
      .robotgrid .tile-container .tile.position-4-11 {
        -webkit-transform: translate(124px, 341px);
        transform: translate(124px, 341px); }
      .robotgrid .tile-container .tile.position-4-12 {
        -webkit-transform: translate(124px, 372px);
        transform: translate(124px, 372px); }
      .robotgrid .tile-container .tile.position-4-13 {
        -webkit-transform: translate(124px, 403px);
        transform: translate(124px, 403px); }
      .robotgrid .tile-container .tile.position-4-14 {
        -webkit-transform: translate(124px, 434px);
        transform: translate(124px, 434px); }
      .robotgrid .tile-container .tile.position-4-15 {
        -webkit-transform: translate(124px, 465px);
        transform: translate(124px, 465px); }
      .robotgrid .tile-container .tile.position-4-16 {
        -webkit-transform: translate(124px, 496px);
        transform: translate(124px, 496px); }
      .robotgrid .tile-container .tile.position-4-17 {
        -webkit-transform: translate(124px, 527px);
        transform: translate(124px, 527px); }
      .robotgrid .tile-container .tile.position-4-18 {
        -webkit-transform: translate(124px, 558px);
        transform: translate(124px, 558px); }
      .robotgrid .tile-container .tile.position-5-0 {
        -webkit-transform: translate(155px, 0px);
        transform: translate(155px, 0px); }
      .robotgrid .tile-container .tile.position-5-1 {
        -webkit-transform: translate(155px, 31px);
        transform: translate(155px, 31px); }
      .robotgrid .tile-container .tile.position-5-2 {
        -webkit-transform: translate(155px, 62px);
        transform: translate(155px, 62px); }
      .robotgrid .tile-container .tile.position-5-3 {
        -webkit-transform: translate(155px, 93px);
        transform: translate(155px, 93px); }
      .robotgrid .tile-container .tile.position-5-4 {
        -webkit-transform: translate(155px, 124px);
        transform: translate(155px, 124px); }
      .robotgrid .tile-container .tile.position-5-5 {
        -webkit-transform: translate(155px, 155px);
        transform: translate(155px, 155px); }
      .robotgrid .tile-container .tile.position-5-6 {
        -webkit-transform: translate(155px, 186px);
        transform: translate(155px, 186px); }
      .robotgrid .tile-container .tile.position-5-7 {
        -webkit-transform: translate(155px, 217px);
        transform: translate(155px, 217px); }
      .robotgrid .tile-container .tile.position-5-8 {
        -webkit-transform: translate(155px, 248px);
        transform: translate(155px, 248px); }
      .robotgrid .tile-container .tile.position-5-9 {
        -webkit-transform: translate(155px, 279px);
        transform: translate(155px, 279px); }
      .robotgrid .tile-container .tile.position-5-10 {
        -webkit-transform: translate(155px, 310px);
        transform: translate(155px, 310px); }
      .robotgrid .tile-container .tile.position-5-11 {
        -webkit-transform: translate(155px, 341px);
        transform: translate(155px, 341px); }
      .robotgrid .tile-container .tile.position-5-12 {
        -webkit-transform: translate(155px, 372px);
        transform: translate(155px, 372px); }
      .robotgrid .tile-container .tile.position-5-13 {
        -webkit-transform: translate(155px, 403px);
        transform: translate(155px, 403px); }
      .robotgrid .tile-container .tile.position-5-14 {
        -webkit-transform: translate(155px, 434px);
        transform: translate(155px, 434px); }
      .robotgrid .tile-container .tile.position-5-15 {
        -webkit-transform: translate(155px, 465px);
        transform: translate(155px, 465px); }
      .robotgrid .tile-container .tile.position-5-16 {
        -webkit-transform: translate(155px, 496px);
        transform: translate(155px, 496px); }
      .robotgrid .tile-container .tile.position-5-17 {
        -webkit-transform: translate(155px, 527px);
        transform: translate(155px, 527px); }
      .robotgrid .tile-container .tile.position-5-18 {
        -webkit-transform: translate(155px, 558px);
        transform: translate(155px, 558px); }
      .robotgrid .tile-container .tile.position-6-0 {
        -webkit-transform: translate(186px, 0px);
        transform: translate(186px, 0px); }
      .robotgrid .tile-container .tile.position-6-1 {
        -webkit-transform: translate(186px, 31px);
        transform: translate(186px, 31px); }
      .robotgrid .tile-container .tile.position-6-2 {
        -webkit-transform: translate(186px, 62px);
        transform: translate(186px, 62px); }
      .robotgrid .tile-container .tile.position-6-3 {
        -webkit-transform: translate(186px, 93px);
        transform: translate(186px, 93px); }
      .robotgrid .tile-container .tile.position-6-4 {
        -webkit-transform: translate(186px, 124px);
        transform: translate(186px, 124px); }
      .robotgrid .tile-container .tile.position-6-5 {
        -webkit-transform: translate(186px, 155px);
        transform: translate(186px, 155px); }
      .robotgrid .tile-container .tile.position-6-6 {
        -webkit-transform: translate(186px, 186px);
        transform: translate(186px, 186px); }
      .robotgrid .tile-container .tile.position-6-7 {
        -webkit-transform: translate(186px, 217px);
        transform: translate(186px, 217px); }
      .robotgrid .tile-container .tile.position-6-8 {
        -webkit-transform: translate(186px, 248px);
        transform: translate(186px, 248px); }
      .robotgrid .tile-container .tile.position-6-9 {
        -webkit-transform: translate(186px, 279px);
        transform: translate(186px, 279px); }
      .robotgrid .tile-container .tile.position-6-10 {
        -webkit-transform: translate(186px, 310px);
        transform: translate(186px, 310px); }
      .robotgrid .tile-container .tile.position-6-11 {
        -webkit-transform: translate(186px, 341px);
        transform: translate(186px, 341px); }
      .robotgrid .tile-container .tile.position-6-12 {
        -webkit-transform: translate(186px, 372px);
        transform: translate(186px, 372px); }
      .robotgrid .tile-container .tile.position-6-13 {
        -webkit-transform: translate(186px, 403px);
        transform: translate(186px, 403px); }
      .robotgrid .tile-container .tile.position-6-14 {
        -webkit-transform: translate(186px, 434px);
        transform: translate(186px, 434px); }
      .robotgrid .tile-container .tile.position-6-15 {
        -webkit-transform: translate(186px, 465px);
        transform: translate(186px, 465px); }
      .robotgrid .tile-container .tile.position-6-16 {
        -webkit-transform: translate(186px, 496px);
        transform: translate(186px, 496px); }
      .robotgrid .tile-container .tile.position-6-17 {
        -webkit-transform: translate(186px, 527px);
        transform: translate(186px, 527px); }
      .robotgrid .tile-container .tile.position-6-18 {
        -webkit-transform: translate(186px, 558px);
        transform: translate(186px, 558px); }
      .robotgrid .tile-container .tile.position-7-0 {
        -webkit-transform: translate(217px, 0px);
        transform: translate(217px, 0px); }
      .robotgrid .tile-container .tile.position-7-1 {
        -webkit-transform: translate(217px, 31px);
        transform: translate(217px, 31px); }
      .robotgrid .tile-container .tile.position-7-2 {
        -webkit-transform: translate(217px, 62px);
        transform: translate(217px, 62px); }
      .robotgrid .tile-container .tile.position-7-3 {
        -webkit-transform: translate(217px, 93px);
        transform: translate(217px, 93px); }
      .robotgrid .tile-container .tile.position-7-4 {
        -webkit-transform: translate(217px, 124px);
        transform: translate(217px, 124px); }
      .robotgrid .tile-container .tile.position-7-5 {
        -webkit-transform: translate(217px, 155px);
        transform: translate(217px, 155px); }
      .robotgrid .tile-container .tile.position-7-6 {
        -webkit-transform: translate(217px, 186px);
        transform: translate(217px, 186px); }
      .robotgrid .tile-container .tile.position-7-7 {
        -webkit-transform: translate(217px, 217px);
        transform: translate(217px, 217px); }
      .robotgrid .tile-container .tile.position-7-8 {
        -webkit-transform: translate(217px, 248px);
        transform: translate(217px, 248px); }
      .robotgrid .tile-container .tile.position-7-9 {
        -webkit-transform: translate(217px, 279px);
        transform: translate(217px, 279px); }
      .robotgrid .tile-container .tile.position-7-10 {
        -webkit-transform: translate(217px, 310px);
        transform: translate(217px, 310px); }
      .robotgrid .tile-container .tile.position-7-11 {
        -webkit-transform: translate(217px, 341px);
        transform: translate(217px, 341px); }
      .robotgrid .tile-container .tile.position-7-12 {
        -webkit-transform: translate(217px, 372px);
        transform: translate(217px, 372px); }
      .robotgrid .tile-container .tile.position-7-13 {
        -webkit-transform: translate(217px, 403px);
        transform: translate(217px, 403px); }
      .robotgrid .tile-container .tile.position-7-14 {
        -webkit-transform: translate(217px, 434px);
        transform: translate(217px, 434px); }
      .robotgrid .tile-container .tile.position-7-15 {
        -webkit-transform: translate(217px, 465px);
        transform: translate(217px, 465px); }
      .robotgrid .tile-container .tile.position-7-16 {
        -webkit-transform: translate(217px, 496px);
        transform: translate(217px, 496px); }
      .robotgrid .tile-container .tile.position-7-17 {
        -webkit-transform: translate(217px, 527px);
        transform: translate(217px, 527px); }
      .robotgrid .tile-container .tile.position-7-18 {
        -webkit-transform: translate(217px, 558px);
        transform: translate(217px, 558px); }
      .robotgrid .tile-container .tile.position-8-0 {
        -webkit-transform: translate(248px, 0px);
        transform: translate(248px, 0px); }
      .robotgrid .tile-container .tile.position-8-1 {
        -webkit-transform: translate(248px, 31px);
        transform: translate(248px, 31px); }
      .robotgrid .tile-container .tile.position-8-2 {
        -webkit-transform: translate(248px, 62px);
        transform: translate(248px, 62px); }
      .robotgrid .tile-container .tile.position-8-3 {
        -webkit-transform: translate(248px, 93px);
        transform: translate(248px, 93px); }
      .robotgrid .tile-container .tile.position-8-4 {
        -webkit-transform: translate(248px, 124px);
        transform: translate(248px, 124px); }
      .robotgrid .tile-container .tile.position-8-5 {
        -webkit-transform: translate(248px, 155px);
        transform: translate(248px, 155px); }
      .robotgrid .tile-container .tile.position-8-6 {
        -webkit-transform: translate(248px, 186px);
        transform: translate(248px, 186px); }
      .robotgrid .tile-container .tile.position-8-7 {
        -webkit-transform: translate(248px, 217px);
        transform: translate(248px, 217px); }
      .robotgrid .tile-container .tile.position-8-8 {
        -webkit-transform: translate(248px, 248px);
        transform: translate(248px, 248px); }
      .robotgrid .tile-container .tile.position-8-9 {
        -webkit-transform: translate(248px, 279px);
        transform: translate(248px, 279px); }
      .robotgrid .tile-container .tile.position-8-10 {
        -webkit-transform: translate(248px, 310px);
        transform: translate(248px, 310px); }
      .robotgrid .tile-container .tile.position-8-11 {
        -webkit-transform: translate(248px, 341px);
        transform: translate(248px, 341px); }
      .robotgrid .tile-container .tile.position-8-12 {
        -webkit-transform: translate(248px, 372px);
        transform: translate(248px, 372px); }
      .robotgrid .tile-container .tile.position-8-13 {
        -webkit-transform: translate(248px, 403px);
        transform: translate(248px, 403px); }
      .robotgrid .tile-container .tile.position-8-14 {
        -webkit-transform: translate(248px, 434px);
        transform: translate(248px, 434px); }
      .robotgrid .tile-container .tile.position-8-15 {
        -webkit-transform: translate(248px, 465px);
        transform: translate(248px, 465px); }
      .robotgrid .tile-container .tile.position-8-16 {
        -webkit-transform: translate(248px, 496px);
        transform: translate(248px, 496px); }
      .robotgrid .tile-container .tile.position-8-17 {
        -webkit-transform: translate(248px, 527px);
        transform: translate(248px, 527px); }
      .robotgrid .tile-container .tile.position-8-18 {
        -webkit-transform: translate(248px, 558px);
        transform: translate(248px, 558px); }
      .robotgrid .tile-container .tile.position-9-0 {
        -webkit-transform: translate(279px, 0px);
        transform: translate(279px, 0px); }
      .robotgrid .tile-container .tile.position-9-1 {
        -webkit-transform: translate(279px, 31px);
        transform: translate(279px, 31px); }
      .robotgrid .tile-container .tile.position-9-2 {
        -webkit-transform: translate(279px, 62px);
        transform: translate(279px, 62px); }
      .robotgrid .tile-container .tile.position-9-3 {
        -webkit-transform: translate(279px, 93px);
        transform: translate(279px, 93px); }
      .robotgrid .tile-container .tile.position-9-4 {
        -webkit-transform: translate(279px, 124px);
        transform: translate(279px, 124px); }
      .robotgrid .tile-container .tile.position-9-5 {
        -webkit-transform: translate(279px, 155px);
        transform: translate(279px, 155px); }
      .robotgrid .tile-container .tile.position-9-6 {
        -webkit-transform: translate(279px, 186px);
        transform: translate(279px, 186px); }
      .robotgrid .tile-container .tile.position-9-7 {
        -webkit-transform: translate(279px, 217px);
        transform: translate(279px, 217px); }
      .robotgrid .tile-container .tile.position-9-8 {
        -webkit-transform: translate(279px, 248px);
        transform: translate(279px, 248px); }
      .robotgrid .tile-container .tile.position-9-9 {
        -webkit-transform: translate(279px, 279px);
        transform: translate(279px, 279px); }
      .robotgrid .tile-container .tile.position-9-10 {
        -webkit-transform: translate(279px, 310px);
        transform: translate(279px, 310px); }
      .robotgrid .tile-container .tile.position-9-11 {
        -webkit-transform: translate(279px, 341px);
        transform: translate(279px, 341px); }
      .robotgrid .tile-container .tile.position-9-12 {
        -webkit-transform: translate(279px, 372px);
        transform: translate(279px, 372px); }
      .robotgrid .tile-container .tile.position-9-13 {
        -webkit-transform: translate(279px, 403px);
        transform: translate(279px, 403px); }
      .robotgrid .tile-container .tile.position-9-14 {
        -webkit-transform: translate(279px, 434px);
        transform: translate(279px, 434px); }
      .robotgrid .tile-container .tile.position-9-15 {
        -webkit-transform: translate(279px, 465px);
        transform: translate(279px, 465px); }
      .robotgrid .tile-container .tile.position-9-16 {
        -webkit-transform: translate(279px, 496px);
        transform: translate(279px, 496px); }
      .robotgrid .tile-container .tile.position-9-17 {
        -webkit-transform: translate(279px, 527px);
        transform: translate(279px, 527px); }
      .robotgrid .tile-container .tile.position-9-18 {
        -webkit-transform: translate(279px, 558px);
        transform: translate(279px, 558px); }
      .robotgrid .tile-container .tile.position-10-0 {
        -webkit-transform: translate(310px, 0px);
        transform: translate(310px, 0px); }
      .robotgrid .tile-container .tile.position-10-1 {
        -webkit-transform: translate(310px, 31px);
        transform: translate(310px, 31px); }
      .robotgrid .tile-container .tile.position-10-2 {
        -webkit-transform: translate(310px, 62px);
        transform: translate(310px, 62px); }
      .robotgrid .tile-container .tile.position-10-3 {
        -webkit-transform: translate(310px, 93px);
        transform: translate(310px, 93px); }
      .robotgrid .tile-container .tile.position-10-4 {
        -webkit-transform: translate(310px, 124px);
        transform: translate(310px, 124px); }
      .robotgrid .tile-container .tile.position-10-5 {
        -webkit-transform: translate(310px, 155px);
        transform: translate(310px, 155px); }
      .robotgrid .tile-container .tile.position-10-6 {
        -webkit-transform: translate(310px, 186px);
        transform: translate(310px, 186px); }
      .robotgrid .tile-container .tile.position-10-7 {
        -webkit-transform: translate(310px, 217px);
        transform: translate(310px, 217px); }
      .robotgrid .tile-container .tile.position-10-8 {
        -webkit-transform: translate(310px, 248px);
        transform: translate(310px, 248px); }
      .robotgrid .tile-container .tile.position-10-9 {
        -webkit-transform: translate(310px, 279px);
        transform: translate(310px, 279px); }
      .robotgrid .tile-container .tile.position-10-10 {
        -webkit-transform: translate(310px, 310px);
        transform: translate(310px, 310px); }
      .robotgrid .tile-container .tile.position-10-11 {
        -webkit-transform: translate(310px, 341px);
        transform: translate(310px, 341px); }
      .robotgrid .tile-container .tile.position-10-12 {
        -webkit-transform: translate(310px, 372px);
        transform: translate(310px, 372px); }
      .robotgrid .tile-container .tile.position-10-13 {
        -webkit-transform: translate(310px, 403px);
        transform: translate(310px, 403px); }
      .robotgrid .tile-container .tile.position-10-14 {
        -webkit-transform: translate(310px, 434px);
        transform: translate(310px, 434px); }
      .robotgrid .tile-container .tile.position-10-15 {
        -webkit-transform: translate(310px, 465px);
        transform: translate(310px, 465px); }
      .robotgrid .tile-container .tile.position-10-16 {
        -webkit-transform: translate(310px, 496px);
        transform: translate(310px, 496px); }
      .robotgrid .tile-container .tile.position-10-17 {
        -webkit-transform: translate(310px, 527px);
        transform: translate(310px, 527px); }
      .robotgrid .tile-container .tile.position-10-18 {
        -webkit-transform: translate(310px, 558px);
        transform: translate(310px, 558px); }
      .robotgrid .tile-container .tile.position-11-0 {
        -webkit-transform: translate(341px, 0px);
        transform: translate(341px, 0px); }
      .robotgrid .tile-container .tile.position-11-1 {
        -webkit-transform: translate(341px, 31px);
        transform: translate(341px, 31px); }
      .robotgrid .tile-container .tile.position-11-2 {
        -webkit-transform: translate(341px, 62px);
        transform: translate(341px, 62px); }
      .robotgrid .tile-container .tile.position-11-3 {
        -webkit-transform: translate(341px, 93px);
        transform: translate(341px, 93px); }
      .robotgrid .tile-container .tile.position-11-4 {
        -webkit-transform: translate(341px, 124px);
        transform: translate(341px, 124px); }
      .robotgrid .tile-container .tile.position-11-5 {
        -webkit-transform: translate(341px, 155px);
        transform: translate(341px, 155px); }
      .robotgrid .tile-container .tile.position-11-6 {
        -webkit-transform: translate(341px, 186px);
        transform: translate(341px, 186px); }
      .robotgrid .tile-container .tile.position-11-7 {
        -webkit-transform: translate(341px, 217px);
        transform: translate(341px, 217px); }
      .robotgrid .tile-container .tile.position-11-8 {
        -webkit-transform: translate(341px, 248px);
        transform: translate(341px, 248px); }
      .robotgrid .tile-container .tile.position-11-9 {
        -webkit-transform: translate(341px, 279px);
        transform: translate(341px, 279px); }
      .robotgrid .tile-container .tile.position-11-10 {
        -webkit-transform: translate(341px, 310px);
        transform: translate(341px, 310px); }
      .robotgrid .tile-container .tile.position-11-11 {
        -webkit-transform: translate(341px, 341px);
        transform: translate(341px, 341px); }
      .robotgrid .tile-container .tile.position-11-12 {
        -webkit-transform: translate(341px, 372px);
        transform: translate(341px, 372px); }
      .robotgrid .tile-container .tile.position-11-13 {
        -webkit-transform: translate(341px, 403px);
        transform: translate(341px, 403px); }
      .robotgrid .tile-container .tile.position-11-14 {
        -webkit-transform: translate(341px, 434px);
        transform: translate(341px, 434px); }
      .robotgrid .tile-container .tile.position-11-15 {
        -webkit-transform: translate(341px, 465px);
        transform: translate(341px, 465px); }
      .robotgrid .tile-container .tile.position-11-16 {
        -webkit-transform: translate(341px, 496px);
        transform: translate(341px, 496px); }
      .robotgrid .tile-container .tile.position-11-17 {
        -webkit-transform: translate(341px, 527px);
        transform: translate(341px, 527px); }
      .robotgrid .tile-container .tile.position-11-18 {
        -webkit-transform: translate(341px, 558px);
        transform: translate(341px, 558px); }
      .robotgrid .tile-container .tile.position-12-0 {
        -webkit-transform: translate(372px, 0px);
        transform: translate(372px, 0px); }
      .robotgrid .tile-container .tile.position-12-1 {
        -webkit-transform: translate(372px, 31px);
        transform: translate(372px, 31px); }
      .robotgrid .tile-container .tile.position-12-2 {
        -webkit-transform: translate(372px, 62px);
        transform: translate(372px, 62px); }
      .robotgrid .tile-container .tile.position-12-3 {
        -webkit-transform: translate(372px, 93px);
        transform: translate(372px, 93px); }
      .robotgrid .tile-container .tile.position-12-4 {
        -webkit-transform: translate(372px, 124px);
        transform: translate(372px, 124px); }
      .robotgrid .tile-container .tile.position-12-5 {
        -webkit-transform: translate(372px, 155px);
        transform: translate(372px, 155px); }
      .robotgrid .tile-container .tile.position-12-6 {
        -webkit-transform: translate(372px, 186px);
        transform: translate(372px, 186px); }
      .robotgrid .tile-container .tile.position-12-7 {
        -webkit-transform: translate(372px, 217px);
        transform: translate(372px, 217px); }
      .robotgrid .tile-container .tile.position-12-8 {
        -webkit-transform: translate(372px, 248px);
        transform: translate(372px, 248px); }
      .robotgrid .tile-container .tile.position-12-9 {
        -webkit-transform: translate(372px, 279px);
        transform: translate(372px, 279px); }
      .robotgrid .tile-container .tile.position-12-10 {
        -webkit-transform: translate(372px, 310px);
        transform: translate(372px, 310px); }
      .robotgrid .tile-container .tile.position-12-11 {
        -webkit-transform: translate(372px, 341px);
        transform: translate(372px, 341px); }
      .robotgrid .tile-container .tile.position-12-12 {
        -webkit-transform: translate(372px, 372px);
        transform: translate(372px, 372px); }
      .robotgrid .tile-container .tile.position-12-13 {
        -webkit-transform: translate(372px, 403px);
        transform: translate(372px, 403px); }
      .robotgrid .tile-container .tile.position-12-14 {
        -webkit-transform: translate(372px, 434px);
        transform: translate(372px, 434px); }
      .robotgrid .tile-container .tile.position-12-15 {
        -webkit-transform: translate(372px, 465px);
        transform: translate(372px, 465px); }
      .robotgrid .tile-container .tile.position-12-16 {
        -webkit-transform: translate(372px, 496px);
        transform: translate(372px, 496px); }
      .robotgrid .tile-container .tile.position-12-17 {
        -webkit-transform: translate(372px, 527px);
        transform: translate(372px, 527px); }
      .robotgrid .tile-container .tile.position-12-18 {
        -webkit-transform: translate(372px, 558px);
        transform: translate(372px, 558px); }
      .robotgrid .tile-container .tile.position-13-0 {
        -webkit-transform: translate(403px, 0px);
        transform: translate(403px, 0px); }
      .robotgrid .tile-container .tile.position-13-1 {
        -webkit-transform: translate(403px, 31px);
        transform: translate(403px, 31px); }
      .robotgrid .tile-container .tile.position-13-2 {
        -webkit-transform: translate(403px, 62px);
        transform: translate(403px, 62px); }
      .robotgrid .tile-container .tile.position-13-3 {
        -webkit-transform: translate(403px, 93px);
        transform: translate(403px, 93px); }
      .robotgrid .tile-container .tile.position-13-4 {
        -webkit-transform: translate(403px, 124px);
        transform: translate(403px, 124px); }
      .robotgrid .tile-container .tile.position-13-5 {
        -webkit-transform: translate(403px, 155px);
        transform: translate(403px, 155px); }
      .robotgrid .tile-container .tile.position-13-6 {
        -webkit-transform: translate(403px, 186px);
        transform: translate(403px, 186px); }
      .robotgrid .tile-container .tile.position-13-7 {
        -webkit-transform: translate(403px, 217px);
        transform: translate(403px, 217px); }
      .robotgrid .tile-container .tile.position-13-8 {
        -webkit-transform: translate(403px, 248px);
        transform: translate(403px, 248px); }
      .robotgrid .tile-container .tile.position-13-9 {
        -webkit-transform: translate(403px, 279px);
        transform: translate(403px, 279px); }
      .robotgrid .tile-container .tile.position-13-10 {
        -webkit-transform: translate(403px, 310px);
        transform: translate(403px, 310px); }
      .robotgrid .tile-container .tile.position-13-11 {
        -webkit-transform: translate(403px, 341px);
        transform: translate(403px, 341px); }
      .robotgrid .tile-container .tile.position-13-12 {
        -webkit-transform: translate(403px, 372px);
        transform: translate(403px, 372px); }
      .robotgrid .tile-container .tile.position-13-13 {
        -webkit-transform: translate(403px, 403px);
        transform: translate(403px, 403px); }
      .robotgrid .tile-container .tile.position-13-14 {
        -webkit-transform: translate(403px, 434px);
        transform: translate(403px, 434px); }
      .robotgrid .tile-container .tile.position-13-15 {
        -webkit-transform: translate(403px, 465px);
        transform: translate(403px, 465px); }
      .robotgrid .tile-container .tile.position-13-16 {
        -webkit-transform: translate(403px, 496px);
        transform: translate(403px, 496px); }
      .robotgrid .tile-container .tile.position-13-17 {
        -webkit-transform: translate(403px, 527px);
        transform: translate(403px, 527px); }
      .robotgrid .tile-container .tile.position-13-18 {
        -webkit-transform: translate(403px, 558px);
        transform: translate(403px, 558px); }
      .robotgrid .tile-container .tile.position-14-0 {
        -webkit-transform: translate(434px, 0px);
        transform: translate(434px, 0px); }
      .robotgrid .tile-container .tile.position-14-1 {
        -webkit-transform: translate(434px, 31px);
        transform: translate(434px, 31px); }
      .robotgrid .tile-container .tile.position-14-2 {
        -webkit-transform: translate(434px, 62px);
        transform: translate(434px, 62px); }
      .robotgrid .tile-container .tile.position-14-3 {
        -webkit-transform: translate(434px, 93px);
        transform: translate(434px, 93px); }
      .robotgrid .tile-container .tile.position-14-4 {
        -webkit-transform: translate(434px, 124px);
        transform: translate(434px, 124px); }
      .robotgrid .tile-container .tile.position-14-5 {
        -webkit-transform: translate(434px, 155px);
        transform: translate(434px, 155px); }
      .robotgrid .tile-container .tile.position-14-6 {
        -webkit-transform: translate(434px, 186px);
        transform: translate(434px, 186px); }
      .robotgrid .tile-container .tile.position-14-7 {
        -webkit-transform: translate(434px, 217px);
        transform: translate(434px, 217px); }
      .robotgrid .tile-container .tile.position-14-8 {
        -webkit-transform: translate(434px, 248px);
        transform: translate(434px, 248px); }
      .robotgrid .tile-container .tile.position-14-9 {
        -webkit-transform: translate(434px, 279px);
        transform: translate(434px, 279px); }
      .robotgrid .tile-container .tile.position-14-10 {
        -webkit-transform: translate(434px, 310px);
        transform: translate(434px, 310px); }
      .robotgrid .tile-container .tile.position-14-11 {
        -webkit-transform: translate(434px, 341px);
        transform: translate(434px, 341px); }
      .robotgrid .tile-container .tile.position-14-12 {
        -webkit-transform: translate(434px, 372px);
        transform: translate(434px, 372px); }
      .robotgrid .tile-container .tile.position-14-13 {
        -webkit-transform: translate(434px, 403px);
        transform: translate(434px, 403px); }
      .robotgrid .tile-container .tile.position-14-14 {
        -webkit-transform: translate(434px, 434px);
        transform: translate(434px, 434px); }
      .robotgrid .tile-container .tile.position-14-15 {
        -webkit-transform: translate(434px, 465px);
        transform: translate(434px, 465px); }
      .robotgrid .tile-container .tile.position-14-16 {
        -webkit-transform: translate(434px, 496px);
        transform: translate(434px, 496px); }
      .robotgrid .tile-container .tile.position-14-17 {
        -webkit-transform: translate(434px, 527px);
        transform: translate(434px, 527px); }
      .robotgrid .tile-container .tile.position-14-18 {
        -webkit-transform: translate(434px, 558px);
        transform: translate(434px, 558px); }
      .robotgrid .tile-container .tile.position-15-0 {
        -webkit-transform: translate(465px, 0px);
        transform: translate(465px, 0px); }
      .robotgrid .tile-container .tile.position-15-1 {
        -webkit-transform: translate(465px, 31px);
        transform: translate(465px, 31px); }
      .robotgrid .tile-container .tile.position-15-2 {
        -webkit-transform: translate(465px, 62px);
        transform: translate(465px, 62px); }
      .robotgrid .tile-container .tile.position-15-3 {
        -webkit-transform: translate(465px, 93px);
        transform: translate(465px, 93px); }
      .robotgrid .tile-container .tile.position-15-4 {
        -webkit-transform: translate(465px, 124px);
        transform: translate(465px, 124px); }
      .robotgrid .tile-container .tile.position-15-5 {
        -webkit-transform: translate(465px, 155px);
        transform: translate(465px, 155px); }
      .robotgrid .tile-container .tile.position-15-6 {
        -webkit-transform: translate(465px, 186px);
        transform: translate(465px, 186px); }
      .robotgrid .tile-container .tile.position-15-7 {
        -webkit-transform: translate(465px, 217px);
        transform: translate(465px, 217px); }
      .robotgrid .tile-container .tile.position-15-8 {
        -webkit-transform: translate(465px, 248px);
        transform: translate(465px, 248px); }
      .robotgrid .tile-container .tile.position-15-9 {
        -webkit-transform: translate(465px, 279px);
        transform: translate(465px, 279px); }
      .robotgrid .tile-container .tile.position-15-10 {
        -webkit-transform: translate(465px, 310px);
        transform: translate(465px, 310px); }
      .robotgrid .tile-container .tile.position-15-11 {
        -webkit-transform: translate(465px, 341px);
        transform: translate(465px, 341px); }
      .robotgrid .tile-container .tile.position-15-12 {
        -webkit-transform: translate(465px, 372px);
        transform: translate(465px, 372px); }
      .robotgrid .tile-container .tile.position-15-13 {
        -webkit-transform: translate(465px, 403px);
        transform: translate(465px, 403px); }
      .robotgrid .tile-container .tile.position-15-14 {
        -webkit-transform: translate(465px, 434px);
        transform: translate(465px, 434px); }
      .robotgrid .tile-container .tile.position-15-15 {
        -webkit-transform: translate(465px, 465px);
        transform: translate(465px, 465px); }
      .robotgrid .tile-container .tile.position-15-16 {
        -webkit-transform: translate(465px, 496px);
        transform: translate(465px, 496px); }
      .robotgrid .tile-container .tile.position-15-17 {
        -webkit-transform: translate(465px, 527px);
        transform: translate(465px, 527px); }
      .robotgrid .tile-container .tile.position-15-18 {
        -webkit-transform: translate(465px, 558px);
        transform: translate(465px, 558px); }
      .robotgrid .tile-container .tile.position-16-0 {
        -webkit-transform: translate(496px, 0px);
        transform: translate(496px, 0px); }
      .robotgrid .tile-container .tile.position-16-1 {
        -webkit-transform: translate(496px, 31px);
        transform: translate(496px, 31px); }
      .robotgrid .tile-container .tile.position-16-2 {
        -webkit-transform: translate(496px, 62px);
        transform: translate(496px, 62px); }
      .robotgrid .tile-container .tile.position-16-3 {
        -webkit-transform: translate(496px, 93px);
        transform: translate(496px, 93px); }
      .robotgrid .tile-container .tile.position-16-4 {
        -webkit-transform: translate(496px, 124px);
        transform: translate(496px, 124px); }
      .robotgrid .tile-container .tile.position-16-5 {
        -webkit-transform: translate(496px, 155px);
        transform: translate(496px, 155px); }
      .robotgrid .tile-container .tile.position-16-6 {
        -webkit-transform: translate(496px, 186px);
        transform: translate(496px, 186px); }
      .robotgrid .tile-container .tile.position-16-7 {
        -webkit-transform: translate(496px, 217px);
        transform: translate(496px, 217px); }
      .robotgrid .tile-container .tile.position-16-8 {
        -webkit-transform: translate(496px, 248px);
        transform: translate(496px, 248px); }
      .robotgrid .tile-container .tile.position-16-9 {
        -webkit-transform: translate(496px, 279px);
        transform: translate(496px, 279px); }
      .robotgrid .tile-container .tile.position-16-10 {
        -webkit-transform: translate(496px, 310px);
        transform: translate(496px, 310px); }
      .robotgrid .tile-container .tile.position-16-11 {
        -webkit-transform: translate(496px, 341px);
        transform: translate(496px, 341px); }
      .robotgrid .tile-container .tile.position-16-12 {
        -webkit-transform: translate(496px, 372px);
        transform: translate(496px, 372px); }
      .robotgrid .tile-container .tile.position-16-13 {
        -webkit-transform: translate(496px, 403px);
        transform: translate(496px, 403px); }
      .robotgrid .tile-container .tile.position-16-14 {
        -webkit-transform: translate(496px, 434px);
        transform: translate(496px, 434px); }
      .robotgrid .tile-container .tile.position-16-15 {
        -webkit-transform: translate(496px, 465px);
        transform: translate(496px, 465px); }
      .robotgrid .tile-container .tile.position-16-16 {
        -webkit-transform: translate(496px, 496px);
        transform: translate(496px, 496px); }
      .robotgrid .tile-container .tile.position-16-17 {
        -webkit-transform: translate(496px, 527px);
        transform: translate(496px, 527px); }
      .robotgrid .tile-container .tile.position-16-18 {
        -webkit-transform: translate(496px, 558px);
        transform: translate(496px, 558px); }
      .robotgrid .tile-container .tile.position-17-0 {
        -webkit-transform: translate(527px, 0px);
        transform: translate(527px, 0px); }
      .robotgrid .tile-container .tile.position-17-1 {
        -webkit-transform: translate(527px, 31px);
        transform: translate(527px, 31px); }
      .robotgrid .tile-container .tile.position-17-2 {
        -webkit-transform: translate(527px, 62px);
        transform: translate(527px, 62px); }
      .robotgrid .tile-container .tile.position-17-3 {
        -webkit-transform: translate(527px, 93px);
        transform: translate(527px, 93px); }
      .robotgrid .tile-container .tile.position-17-4 {
        -webkit-transform: translate(527px, 124px);
        transform: translate(527px, 124px); }
      .robotgrid .tile-container .tile.position-17-5 {
        -webkit-transform: translate(527px, 155px);
        transform: translate(527px, 155px); }
      .robotgrid .tile-container .tile.position-17-6 {
        -webkit-transform: translate(527px, 186px);
        transform: translate(527px, 186px); }
      .robotgrid .tile-container .tile.position-17-7 {
        -webkit-transform: translate(527px, 217px);
        transform: translate(527px, 217px); }
      .robotgrid .tile-container .tile.position-17-8 {
        -webkit-transform: translate(527px, 248px);
        transform: translate(527px, 248px); }
      .robotgrid .tile-container .tile.position-17-9 {
        -webkit-transform: translate(527px, 279px);
        transform: translate(527px, 279px); }
      .robotgrid .tile-container .tile.position-17-10 {
        -webkit-transform: translate(527px, 310px);
        transform: translate(527px, 310px); }
      .robotgrid .tile-container .tile.position-17-11 {
        -webkit-transform: translate(527px, 341px);
        transform: translate(527px, 341px); }
      .robotgrid .tile-container .tile.position-17-12 {
        -webkit-transform: translate(527px, 372px);
        transform: translate(527px, 372px); }
      .robotgrid .tile-container .tile.position-17-13 {
        -webkit-transform: translate(527px, 403px);
        transform: translate(527px, 403px); }
      .robotgrid .tile-container .tile.position-17-14 {
        -webkit-transform: translate(527px, 434px);
        transform: translate(527px, 434px); }
      .robotgrid .tile-container .tile.position-17-15 {
        -webkit-transform: translate(527px, 465px);
        transform: translate(527px, 465px); }
      .robotgrid .tile-container .tile.position-17-16 {
        -webkit-transform: translate(527px, 496px);
        transform: translate(527px, 496px); }
      .robotgrid .tile-container .tile.position-17-17 {
        -webkit-transform: translate(527px, 527px);
        transform: translate(527px, 527px); }
      .robotgrid .tile-container .tile.position-17-18 {
        -webkit-transform: translate(527px, 558px);
        transform: translate(527px, 558px); }
      .robotgrid .tile-container .tile.position-18-0 {
        -webkit-transform: translate(558px, 0px);
        transform: translate(558px, 0px); }
      .robotgrid .tile-container .tile.position-18-1 {
        -webkit-transform: translate(558px, 31px);
        transform: translate(558px, 31px); }
      .robotgrid .tile-container .tile.position-18-2 {
        -webkit-transform: translate(558px, 62px);
        transform: translate(558px, 62px); }
      .robotgrid .tile-container .tile.position-18-3 {
        -webkit-transform: translate(558px, 93px);
        transform: translate(558px, 93px); }
      .robotgrid .tile-container .tile.position-18-4 {
        -webkit-transform: translate(558px, 124px);
        transform: translate(558px, 124px); }
      .robotgrid .tile-container .tile.position-18-5 {
        -webkit-transform: translate(558px, 155px);
        transform: translate(558px, 155px); }
      .robotgrid .tile-container .tile.position-18-6 {
        -webkit-transform: translate(558px, 186px);
        transform: translate(558px, 186px); }
      .robotgrid .tile-container .tile.position-18-7 {
        -webkit-transform: translate(558px, 217px);
        transform: translate(558px, 217px); }
      .robotgrid .tile-container .tile.position-18-8 {
        -webkit-transform: translate(558px, 248px);
        transform: translate(558px, 248px); }
      .robotgrid .tile-container .tile.position-18-9 {
        -webkit-transform: translate(558px, 279px);
        transform: translate(558px, 279px); }
      .robotgrid .tile-container .tile.position-18-10 {
        -webkit-transform: translate(558px, 310px);
        transform: translate(558px, 310px); }
      .robotgrid .tile-container .tile.position-18-11 {
        -webkit-transform: translate(558px, 341px);
        transform: translate(558px, 341px); }
      .robotgrid .tile-container .tile.position-18-12 {
        -webkit-transform: translate(558px, 372px);
        transform: translate(558px, 372px); }
      .robotgrid .tile-container .tile.position-18-13 {
        -webkit-transform: translate(558px, 403px);
        transform: translate(558px, 403px); }
      .robotgrid .tile-container .tile.position-18-14 {
        -webkit-transform: translate(558px, 434px);
        transform: translate(558px, 434px); }
      .robotgrid .tile-container .tile.position-18-15 {
        -webkit-transform: translate(558px, 465px);
        transform: translate(558px, 465px); }
      .robotgrid .tile-container .tile.position-18-16 {
        -webkit-transform: translate(558px, 496px);
        transform: translate(558px, 496px); }
      .robotgrid .tile-container .tile.position-18-17 {
        -webkit-transform: translate(558px, 527px);
        transform: translate(558px, 527px); }
      .robotgrid .tile-container .tile.position-18-18 {
        -webkit-transform: translate(558px, 558px);
        transform: translate(558px, 558px); }
      .robotgrid .tile-container .tile .tile-inner {
        line-height: 30.05263px;
        text-align: center;
        font-weight: bold;
        z-index: 10;
        border-radius: 2px;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px; }
        .robotgrid .tile-container .tile .tile-inner .overlay {
          position: absolute;
          top: 0px;
          left: 0px;
          height: 29px;
          width: 29px; }
        .robotgrid .tile-container .tile .tile-inner .direction-right {
          -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }
        .robotgrid .tile-container .tile .tile-inner .direction-down {
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }
        .robotgrid .tile-container .tile .tile-inner .direction-left {
          -webkit-transform: rotate(270deg);
          transform: rotate(270deg); }
      .robotgrid .tile-container .tile .robot-good {
        background: #5286ef;
        color: #302e27; }
      .robotgrid .tile-container .tile .robot-bad {
        background: #861c04;
        color: white; }
