<img ng-if="ngModel.action == 'AR'" src="../../../content/images/firing.png" title="Attack right" class="overlay direction-right"/>
<img ng-if="ngModel.action == 'AL'" src="../../../content/images/firing.png" title="Attack left" class="overlay direction-left" />
<img ng-if="ngModel.action == 'AD'" src="../../../content/images/firing.png" title="Attack down" class="overlay direction-down" />
<img ng-if="ngModel.action == 'AU'" src="../../../content/images/firing.png" title="Attack up" class="overlay direction-up" />
<img ng-if="ngModel.action == 'MR'" src="../../../content/images/moving.png" title="Move right" class="overlay direction-right" />
<img ng-if="ngModel.action == 'ML'" src="../../../content/images/moving.png" title="Move left" class="overlay direction-left" />
<img ng-if="ngModel.action == 'MD'" src="../../../content/images/moving.png" title="Move down" class="overlay direction-down" />
<img ng-if="ngModel.action == 'MU'" src="../../../content/images/moving.png" title="Move up" class="overlay direction-up" />
<img ng-if="ngModel.action == 'EX'" src="../../../content/images/exploding.png" title="Suicide" class="overlay" />
<img ng-if="ngModel.action == 'BL'" src="../../../content/images/blocking.png" title="Block" class="overlay" />